@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: Poppins;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}  
